#container{
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
  background-color: crimson;
  max-width: 1170px;
  height: 1170px;
}

#questionArea{
  width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;  
}

#answerButton{
  padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
}